body {
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(203, 209, 216, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(203, 209, 216, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(203, 209, 216, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#cbd1d8",GradientType=1);
  text-align: center;
}

#heading {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.noteBox {
  border: 1px solid lightgray;
  background-color: white;
  box-shadow: 10px 10px grey;
}

input {
  outline: none;
  border: 1px solid lightgray;
  border-right: none;
  padding: 7px;
}

.taskItem {
  text-align: left;
  margin: 0px 12px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: none;
}
.filler {
  margin: 0px 12px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: none;
  border-left: none;
}
.footer {
  padding: 4px;
  margin: 0;
  text-align: left;
  font-size: 10px;
  border: 1px solid lightgray;
}

.deleteBtn {
  cursor: pointer;
  border: none;
  color: red;
  background-color: transparent;
  padding: 0px;
  margin: 0px 12px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: none;
  border-right: none;
}

.icon {
  color: white;
}

.taskItemRow:hover .icon {
  color: red !important;
}
